/* header {
  background-color: blue;
  height: 10vh;
  padding: 10px 0 0 0;
  text-align: center;
  color: white;
}
footer {
  padding-top: 5%;
  color: white;
  background-color: rgb(54, 54, 54);
  height: 15vh;
  text-align: center;
}
footer > h2 {
  /* color: whiet; */
} */
